:root {
    --red: crimson;
    --yellow: gold;
    --green: yellowgreen;
    --blue: skyblue;
    --font-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--font-color);
}

header {
    --border-width: 4px;
}
.nav-list {
    border: var(--border-width) solid var(--blue);
    display: flex;
    gap: 12px;
}
.nav-list li {
    border: var(--border-width) solid var(--green);
}
