h1{
    text-align: center;
    max-width: 600px;
    color: coral;
    padding: 30px;
    font-size: 4rem;
}
.grid-container{
    display: grid;
    grid-template-columns: 50px repeat(5, 1fr);
    max-width: 600px;
    height: 400px;
    color: coral;
}
.grid-item{
    border: 1px solid chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    
}