


h1{
    text-align: center;
    max-width: 800px;
    padding: 20px;
}
#calender{
    max-width: 800px;
    height: 600px;
    font-size: 1.5rem;
}
.grid-container,
.date-grid-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.date-grid-container{
    color: black;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    grid-column-start: 5;
}
