.grid-container{
    display: grid;
    /* grid-template-columns:1fr 1fr; */
    grid-template-columns: 30% 70%;
    max-width: 800px;
    height: 600px;
    font-size: 3rem;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item:nth-child(1){
    background-color: lightpink;
    color:white;
}
.grid-item:nth-child(2){
    background-color: rgb(194, 231, 240);
    color:white;
}
.grid-item:nth-child(3){
    background-color: rgb(192, 161, 165);
    color:white;
}
.grid-item:nth-child(4){
    background-color: rgb(166, 194, 202);
    color:white;
}